
/* tables */
QTableView {
    selection-background-color: #4a90d9;
    selection-color: white;
    border-width: 1px;
    border-color: #a1a1a1;
    border-style: solid;
    gridline-color: white;
}

QTableView QTableCornerButton::section {
    border: none;
    background: none;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
}

QHeaderView::section {
    text-align: left;
    color: #96999a;
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: solid;
    border-color: #ededed;
    background: white;
}
QHeaderView::section:horizontal {
    border-bottom: 1px;
}
QHeaderView::section:vertical {
    border-left: 1px;
}
QHeaderView::section:middle, QHeaderView::section:last:horizontal, QHeaderView::section:first:vertical {
    border-width: 0px 0px 1px 1px;
}

/* columns */
QColumnView {
    background: white;
}

/* radios */
QRadioButton::indicator:unchecked {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked.png);
}

QRadioButton::indicator:unchecked:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-insensitive.png);
}

QRadioButton::indicator:unchecked:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-backdrop.png);
}

QRadioButton::indicator:unchecked:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-backdrop-insensitive.png);
}

QRadioButton::indicator:unchecked:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-hover.png);
}

QRadioButton::indicator:unchecked:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-active.png);
}

QRadioButton::indicator:checked {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked.png);
}

QRadioButton::indicator:checked:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-insensitive.png);
}

QRadioButton::indicator:checked:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-backdrop.png);
}

QRadioButton::indicator:checked:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-backdrop-insensitive.png);
}

QRadioButton::indicator:checked:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-hover.png);
}

QRadioButton::indicator:checked:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-active.png);
}

/* checkboxes */
QGroupBox::indicator:unchecked, QCheckBox::indicator:unchecked {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked.png);
}

QGroupBox::indicator:unchecked:!enabled, QCheckBox::indicator:unchecked:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-insensitive.png);
}

QGroupBox::indicator:unchecked:!active, QCheckBox::indicator:unchecked:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-backdrop.png);
}

QGroupBox::indicator:unchecked:!active:!enabled, QCheckBox::indicator:unchecked:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-backdrop-insensitive.png);
}

QGroupBox::indicator:unchecked:hover, QCheckBox::indicator:unchecked:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-hover.png);
}

QGroupBox::indicator:unchecked:pressed, QCheckBox::indicator:unchecked:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-active.png);
}

QGroupBox::indicator:checked, QCheckBox::indicator:checked {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked.png);
}

QGroupBox::indicator:checked:!enabled, QCheckBox::indicator:checked:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-insensitive.png);
}

QGroupBox::indicator:checked:!active, QCheckBox::indicator:checked:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-backdrop.png);
}

QGroupBox::indicator:checked:!active:!enabled, QCheckBox::indicator:checked:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-backdrop-insensitive.png);
}

QGroupBox::indicator:checked:hover, QCheckBox::indicator:checked:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-hover.png);
}

QGroupBox::indicator:checked:pressed, QCheckBox::indicator:checked:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-active.png);
}

QGroupBox::indicator:indeterminate, QCheckBox::indicator:indeterminate {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed.png);
}

QGroupBox::indicator:indeterminate:!enabled, QCheckBox::indicator:indeterminate:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-insensitive.png);
}

QGroupBox::indicator:indeterminate:!active, QCheckBox::indicator:indeterminate:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-backdrop.png);
}

QGroupBox::indicator:indeterminate:!active:!enabled, QCheckBox::indicator:indeterminate:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-backdrop-insensitive.png);
}

QGroupBox::indicator:indeterminate:hover, QCheckBox::indicator:indeterminate:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-hover.png);
}

QGroupBox::indicator:indeterminate:pressed, QCheckBox::indicator:indeterminate:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-active.png);
}

QAbstractItemView {
    margin: 0;
    padding: 0;
    border: none;
    background: white;
    selection-background-color: #4a90d9;
    show-decoration-selected: 0;
}

QGroupBox {
    border-width: 1px;
    border-style: solid;
    border-color: #a1a1a1;
    padding-top: 5px;
    margin: 5px;
}

QGroupBox::title {
    left: 6px;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
}

QGroupBox:!active {
    border-width: 1px;
    border-style: solid;
    border-color: #a8a8a8;
}

QGroupBox::indicator {
    padding-top: 2px;
    padding-left: 6px;
    width: 16px;
    height: 16px;
}

QStatusBar {
    background: none;
}

QStatusBar::item {
    border: none
}

QStatusBar QLabel {
    border: none
}

QStackedWidget QWidget {
    background: none;
}

QSplitter {
    border: none;
    background: none;
}

QTreeView {
    background: white;
}
