QWidget {
    outline: none;
    background: none;
}

QMainWindow {
    background: palette(window);
}

QWidget:!active {
}

QFrame {
    border-width: 1px;
    border-style: solid;
    border-color: #a1a1a1;
    padding: 0;
    background: none;
}

QFrame:flat {
    border: none;
    background: none;
}

QLabel {
    border: none;
    background: none;
}



/* scrollbars */
QScrollBar {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: palette(dark);
    background: palette(dark);
    height: 11px;
    width: 11px;
}
QScrollBar::add-line, QScrollBar::sub-line {
    background: none;
    border: none;
    width: 0px;
    height: 0px;
}
QScrollBar::handle {
    min-width: 1px;
    background: #b3b5b6;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #b3b5b6;
}

/* tables */
QTableView {
    selection-background-color: #4a90d9;
    selection-color: white;
    border-width: 1px;
    border-color: #a1a1a1;
    border-style: solid;
    gridline-color: white;
}

QTableView QTableCornerButton::section {
    border: none;
    background: none;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
}

QHeaderView::section {
    text-align: left;
    color: #96999a;
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: solid;
    border-color: #ededed;
    background: white;
}
QHeaderView::section:horizontal {
    border-bottom: 1px;
}
QHeaderView::section:vertical {
    border-left: 1px;
}
QHeaderView::section:middle, QHeaderView::section:last:horizontal, QHeaderView::section:first:vertical {
    border-width: 0px 0px 1px 1px;
}

/* columns */
QColumnView {
    background: white;
}

/* dialogs */
QDialog {
    background: palette(window);
}

/* radios */
QRadioButton::indicator:unchecked {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked.png);
}

QRadioButton::indicator:unchecked:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-insensitive.png);
}

QRadioButton::indicator:unchecked:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-backdrop.png);
}

QRadioButton::indicator:unchecked:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-backdrop-insensitive.png);
}

QRadioButton::indicator:unchecked:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-hover.png);
}

QRadioButton::indicator:unchecked:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-unchecked-active.png);
}

QRadioButton::indicator:checked {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked.png);
}

QRadioButton::indicator:checked:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-insensitive.png);
}

QRadioButton::indicator:checked:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-backdrop.png);
}

QRadioButton::indicator:checked:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-backdrop-insensitive.png);
}

QRadioButton::indicator:checked:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-hover.png);
}

QRadioButton::indicator:checked:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/radio-checked-active.png);
}

/* checkboxes */
QGroupBox::indicator:unchecked, QCheckBox::indicator:unchecked {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked.png);
}

QGroupBox::indicator:unchecked:!enabled, QCheckBox::indicator:unchecked:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-insensitive.png);
}

QGroupBox::indicator:unchecked:!active, QCheckBox::indicator:unchecked:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-backdrop.png);
}

QGroupBox::indicator:unchecked:!active:!enabled, QCheckBox::indicator:unchecked:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-backdrop-insensitive.png);
}

QGroupBox::indicator:unchecked:hover, QCheckBox::indicator:unchecked:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-hover.png);
}

QGroupBox::indicator:unchecked:pressed, QCheckBox::indicator:unchecked:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-unchecked-active.png);
}

QGroupBox::indicator:checked, QCheckBox::indicator:checked {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked.png);
}

QGroupBox::indicator:checked:!enabled, QCheckBox::indicator:checked:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-insensitive.png);
}

QGroupBox::indicator:checked:!active, QCheckBox::indicator:checked:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-backdrop.png);
}

QGroupBox::indicator:checked:!active:!enabled, QCheckBox::indicator:checked:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-backdrop-insensitive.png);
}

QGroupBox::indicator:checked:hover, QCheckBox::indicator:checked:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-hover.png);
}

QGroupBox::indicator:checked:pressed, QCheckBox::indicator:checked:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-checked-active.png);
}

QGroupBox::indicator:indeterminate, QCheckBox::indicator:indeterminate {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed.png);
}

QGroupBox::indicator:indeterminate:!enabled, QCheckBox::indicator:indeterminate:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-insensitive.png);
}

QGroupBox::indicator:indeterminate:!active, QCheckBox::indicator:indeterminate:!active {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-backdrop.png);
}

QGroupBox::indicator:indeterminate:!active:!enabled, QCheckBox::indicator:indeterminate:!active:!enabled {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-backdrop-insensitive.png);
}

QGroupBox::indicator:indeterminate:hover, QCheckBox::indicator:indeterminate:hover {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-hover.png);
}

QGroupBox::indicator:indeterminate:pressed, QCheckBox::indicator:indeterminate:pressed {
    image: url(@ADWAITA_ASSET_DIR@/upstream/checkbox-mixed-active.png);
}

QAbstractItemView {
    margin: 0;
    padding: 0;
    border: none;
    background: white;
    selection-background-color: #4a90d9;
    show-decoration-selected: 0;
}


QTabWidget {
    border-width: 0px;
    border-style: solid;
    border-color: #a8a8a8;
}

QTabWidget::tab-bar {
    alignment: left;
    padding: 0px;
}

QTabWidget::pane {
    border: 64px solid #d1d1d1;
    margin: -64px;
}

QTabWidget::right-corner {
    background: black;
}

QTabBar {
    background: #d1d1d1;
}

QTabBar::tab {
    border: none;
}
QTabBar::tab:top, QTabBar::tab:bottom {
    padding: 6px 12px;
    margin: 0px 4px;
}
QTabBar::tab:left, QTabBar::tab:right{
    padding: 12px 6px;
    margin: 4px 0px;
}

QTabBar::tab:top {
    border-bottom: 2px;
    border-style: solid;
}
QTabBar::tab:bottom {
    border-top: 2px;
    border-style: solid;
}
QTabBar::tab:left {
    border-left: 2px;
    border-style: solid;
}
QTabBar::tab:right{
    border-right: 2px;
    border-style: solid;
}


QTabBar::tab:!selected {
    border-color: transparent;
    color: #8d9091;
}
QTabBar::tab:selected {
    border-color: #4a90d9;
    color: #2e3436;
}
QTabBar::tab:hover:!selected {
    border-color: #54595a;
}


QTabBar QToolButton {
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #a1a1a1;
    border-radius: 3px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                stop: 0 #fafafa, stop: 1 #e0e0e0);
}

QTabBar QToolButton::right-arrow {
    image: url(@ADWAITA_ASSET_DIR@/custom/arrow-small-right.png);
}
QTabBar QToolButton::left-arrow {
    image: url(@ADWAITA_ASSET_DIR@/custom/arrow-small-left.png);
}


/*
QMenuBar {
    background: palette(window);
    margin: 0;
}

QMenuBar::item {
    background: palette(window);
    padding: 4px 10px;
}

QMenuBar::item:selected {
    background: white;
}

QMenu {
    padding-right: 4px;
    background: white;
}

QMenu::item {
}

QMenu::right-arrow {
    background: url(@ADWAITA_ASSET_DIR@/custom/arrow-small-right.png);
    right: 40;
}
QMenu::icon {
    border: none;
    subcontrol-origin: border;
    subcontrol-position: left center;
}
QMenu::item:selected {
    color: white;
    background: #4a90d9;
}
*/

QToolBar {
    padding: 6px;
    border-width: 0 0 1px;
    border: solid #a1a1a1;
    border-radius: 7px 7px 0 0;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #f7f7f7, stop: 1 #ededed);
}

QToolBar:handle {
    image: #a1a1a1;
}

QToolButton {
  color: #2e3436;
  border-color: #a1a1a1;
  border-width: 1;
  border-radius: 3;
  background: qlineargradient(x1:0, y1=0, x2:0, y2:1, stop: 0 #fafafa, stop: 0.4 #ededed, stop: 1 #e0e0e0);
}

QGroupBox {
    border-width: 1px;
    border-style: solid;
    border-color: #a1a1a1;
    padding-top: 5px;
    margin: 5px;
}

QGroupBox::title {
    left: 6px;
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
}

QGroupBox:!active {
    border-width: 1px;
    border-style: solid;
    border-color: #a8a8a8;
}

QGroupBox::indicator {
    padding-top: 2px;
    padding-left: 6px;
    width: 16px;
    height: 16px;
}

QStatusBar {
    background: none;
}

QStatusBar::item {
    border: none
}

QStatusBar QLabel {
    border: none
}

QStackedWidget QWidget {
    background: none;
}

QSplitter {
    border: none;
    background: none;
}

QTreeView {
    background: white;
}
