
/* basic elements */
QWidget {
    background-color: #ededed;
}

QWidget:!active {
}

/* frames */
QFrame {
    border: 1px solid #a1a1a1;
    padding: 0;
    background-color: white;
}

QFrame:flat {
    border: none;
    background-color: transparent;
}

QLabel {
    border: none;
    background-color: #ededed;
}

/* scrollbars */
QScrollBar {
    border-style: solid;
    width: 13px;
}
QScrollBar::handle {
    border-radius: 20px;
    border: 3px solid transparent;
    background-color: #b3b5b6;
}

/* tables */
QTableView {
    background-color: white;
}

/* lists */
QListView {
    background-color: white;
}

/* columns */
QColumnView {
    background-color: white;
}
e
/* dialogs */
QDialog {
    background-color: white;
}

/* radios */
QRadioButton::indicator::unchecked {
    image: url(assets/radio-unchecked.png);
}

QRadioButton::indicator::unchecked:!enabled {
    image: url(assets/radio-unchecked-insensitive.png);
}

QRadioButton::indicator::unchecked:!active {
    image: url(assets/radio-unchecked-backdrop.png);
}

QRadioButton::indicator:unchecked:hover {
    image: url(assets/radio-unchecked-hover.png);
}

QRadioButton::indicator:unchecked:pressed {
    image: url(assets/radio-unchecked-active.png);
}

QRadioButton::indicator::checked {
    image: url(assets/radio-checked.png);
}

QRadioButton::indicator::checked:!enabled {
    image: url(assets/radio-checked-insensitive.png);
}

QRadioButton::indicator::checked:!active {
    image: url(assets/radio-checked-backdrop.png);
}

QRadioButton::indicator:checked:hover {
    image: url(assets/radio-checked-hover.png);
}

QRadioButton::indicator:checked:pressed {
    image: url(assets/radio-checked-active.png);
}

/* checkboxes */
QCheckBox::indicator::unchecked {
    image: url(assets/checkbox-unchecked.png);
}

QCheckBox::indicator::unchecked:!enabled {
    image: url(assets/checkbox-unchecked-insensitive.png);
}

QCheckBox::indicator::unchecked:!active {
    image: url(assets/checkbox-unchecked-backdrop.png);
}

QCheckBox::indicator:unchecked:hover {
    image: url(assets/checkbox-unchecked-hover.png);
}

QCheckBox::indicator:unchecked:pressed {
    image: url(assets/checkbox-unchecked-active.png);
}

QCheckBox::indicator::checked {
    image: url(assets/checkbox-checked.png);
}

QCheckBox::indicator::checked:!enabled {
    image: url(assets/checkbox-checked-insensitive.png);
}

QCheckBox::indicator::checked:!active {
    image: url(assets/checkbox-checked-backdrop.png);
}

QCheckBox::indicator:checked:hover {
    image: url(assets/checkbox-checked-hover.png);
}

QCheckBox::indicator:checked:pressed {
    image: url(assets/checkbox-checked-active.png);
}

QCheckBox::indicator::indeterminate {
    image: url(assets/checkbox-mixed.png);
}

QCheckBox::indicator::indeterminate:!enabled {
    image: url(assets/checkbox-mixed-insensitive.png);
}

QCheckBox::indicator::indeterminate:!active {
    image: url(assets/checkbox-mixed-backdrop.png);
}

QCheckBox::indicator:indeterminate:hover {
    image: url(assets/checkbox-mixed-hover.png);
}

QCheckBox::indicator:indeterminate:pressed {
    image: url(assets/checkbox-mixed-active.png);
}

/* buttons */
QPushButton {
    padding: 6px 4px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #a1a1a1;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                stop: 0 #fafafa, stop: 1 #e0e0e0);
}

QPushButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                stop: 0 #f7f7f7, stop: 1 #ededed);
}

QPushButton:pressed, QPushButton:checked {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                stop: 0 #c7c7c7, stop: 1 lightgray);
}

QPushButton:!active {
    background: #ededed;
}

QPushButton:!enabled {
    background: #f4f4f4;
}

QComboBox {
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #a1a1a1;
}

QComboBox:editable {
    background: white;
}

QComboBox:read-only {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                stop: 0 #fafafa, stop: 1 #e0e0e0);
}

QComboBox::drop-down {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                stop: 0 #fafafa, stop: 1 #e0e0e0);
    width: 28px;
}

QComboBox::drop-down:editable {
}

QComboBox:!enabled {
    color: #8d9091;
}

QComboBox:!active {
    color: #54595a;
}

QComboBox:!active:!enabled {
    color: #c7c7c7;
}

QAbstractItemView {
    padding: 4px;
    border: none;
    background: white;
    selection-background-color: #4a90d9;
    show-decoration-selected: 0;
}

QComboBox QListView {
    color: blue;
    min-height: 0px;
    max-height: 0px;
}

QAbstractItemView::item {
    border: none;
    padding: 10px;
    spacing: 10px;
    background: pink;
}

QLineEdit {
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #a1a1a1;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #f7f7f7, stop: 0.9 white);
}

QLineEdit:!enabled {
    border: 1px solid #a1a1a1;
    background: #f4f4f4;
    color: #8d9091;
}

QLineEdit:focus {
    border: 1px solid #4a90d9;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #f7f7f7, stop: 0.9 white);
}

QSlider {
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #a1a1a1;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #fafafa, stop: 0.4 #ededed, stop: 1 #e0e0e0);
    color: #2e3436;
}

QSlider::handle:vertical {
    image: url(assets/slider-vert-scale-has-marks-above.png);
}

QProgressBar {
    height: 2px;
    padding: 0px;
    font-size: 83%;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    background-color: #d2d2d2;
    text-align: center;
}

QProgressBar::chunk {
    min-height: 2px;
    border: 1px solid #184472;
    background-color: #4a90d9;
}

QTabWidget {
    border: 0px solid #a8a8a8;
    background-color: pink;
}

QTabWidget::tab-bar {
    alignment: center;
    padding: 0px;
}

QSpinBox {
    padding: 4px;
    padding-right: 27px;
    border-radius: 3px;
    border: 1px solid #a8a8a8;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #f7f7f7, stop: 0.9 white);
}

QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: right center;

    border-left-width: 1px;
    border-style: solid;
    border-color: #a8a8a8;

    height: 26px;
    width: 28px;
}

QSpinBox::down-button {
    subcontrol-origin: content;
    subcontrol-position: right center;

    border-width: 1px;
    border-style: solid;
    border-color: #a1a1a1;

    height: 26px;
    width: 28px;
}

QTabWidget {
    background: pink;
}

QTabWidget::pane {
    /*
    border-top: 32px solid #c7c7c7;
    background: pink;
    position: absolute;
    top: -32px;
    */
}

QTabWidget::tab-bar {
}

QTabBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #c7c7c7, stop: 0.03 #d1d1d1, stop: 1 #d3d3d3);
}

QTabBar::tab:top {
    padding: 8px 12px;
    border: 0px solid #a1a1a1;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #c7c7c7, stop: 0.03 #d1d1d1, stop: 1 #d3d3d3);
}

QTabBar::tab:top:last {
    padding-right: 100%;
    border: 0px solid #a1a1a1;
}

/* menus */
QMenuBar {
    background-color: #e3e3e3;
}

QMenuBar:!active {
    background-color:#ededed;
}

QMenuBar::item {
    padding: 2px 8px;
}

QMenuBar::item:selected {
    color: white;
    background-color: #4a90d9;
}

QMenu {
    background: white;
    padding: 0px;
}
QMenu::item {
    padding: 4px;
}
QMenu::item:selected {
    color: white;
    background-color: #4a90d9;
}

QToolBar {
    padding: 6px;
    background: #ededed;
    border-width: 0 0 1px;
    border: solid #a1a1a1;
    border-radius: 7px 7px 0 0;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #f7f7f7, stop: 1 #ededed);
}

QToolBar:handle {
    image: #a1a1a1;
}

QToolButton {
    background: transparent;
}
